.general-btn {
    height: 44px;
    font-size: $font-13;
    font-weight: $font-500;
    line-height: 16px;
    letter-spacing: 0.43px;
    padding: 8px 16px;
    border-radius: 4px;
    background: $theme;
    @extend .div-flex-center-cover;
    transition: $transition;
    box-shadow: 0px 4px 18px 0px rgba(75, 70, 92, 0.10);

    &:hover {
        background: rgba($color: $theme, $alpha: 0.8) !important;
    }
}
