.dnd-wrapper {
    width: 100%;
}

.dnd-page {
    flex: 1 1 auto;
}

.dropZone {
    flex: 0 0 auto;
    height: 16px;
    transition: 200ms all;

    :nth-child(2n) {
        display: none;
    }
}

.dropZone.horizontalDrag {
    width: 16px;
    height: auto;

    &:first-child {
      width: auto;
    }

    &:last-child {
      width: auto;
    }
}

.dropZone:not(.horizontalDrag).isLast {
    flex: 1 1 auto;
}

.dropZone.active {
    background: #00a2ff;
    transition: 100ms all;
}

.draggable-row {
    border: 3px dashed #DBDADE;
    padding: 16px;
    // display: flex;
    position: relative;
    transition: $transition;
    // --bs-gutter-x: 0rem;

    &:hover {
        border-color: $theme;

        > .remove-icon {
            background: $theme;
        }
    }
}

.columns {
    width: 100%;
    display: flex;
    padding: 16px;
}

.draggable-column {
    border: 3px dashed #B6BEE3;
    // flex: 1 1 100%;
    // padding: 16px;
    position: relative;
}

.remove-icon {
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 8px;
    @extend .div-flex-center-cover;
    background: #C9C7CE;
    @extend .position-right-top;
    right: -10px;
    top: -10px;
    z-index: 1;
    cursor: pointer;

    svg {
        font-size: 16px;
    }
}

.col {

    .remove-icon {
      background: #B6BEE3;
    }

}

.component {
    width: 100%;
    @extend .div-flex-center-cover;
    height: auto;
}

.widget-add-container {
    width: 100%;
    height: 174px;
    @extend .div-flex-center-cover
}

.normal-view {

    .container-fluid {
        padding: 0;
    }

    .draggable-row.row {
        padding: 0;
        border: 0;
    }

    .draggable-row.row .col {
        border: 0;
        padding-left: 8px;
        padding-right: 8px;
    }

    .remove-icon,
    .dropZone,
    .dropZone.horizontalDrag,
    .widget-add-container
     {
        display: none;
    }

    .ant-card {
        margin-bottom: 16px;
    }
}
