.dnd-wrapper {
    width: 100%;
}

.dnd-page {
    flex: 1 1 auto;
}

.dropZone {
    flex: 0 0 auto;
    height: 16px;
    transition: 200ms all;

    :nth-child(2n) {
        display: none;
    }
}

.dropZone.horizontalDrag {
    width: 16px;
    height: auto;

    &:first-child {
      width: auto;
    }

    &:last-child {
      width: auto;
    }

    @include medium-device {
        margin-bottom: 16px;
    }
}

.dropZone:not(.horizontalDrag).isLast {
    flex: 1 1 auto;
}

.dropZone.active {
    background: #00a2ff;
    transition: 100ms all;
}

.draggable-row {
    border: 3px dashed #DBDADE;
    padding: 16px;
    position: relative;
    transition: $transition;

    &:hover {
        border-color: $theme;

        > .remove-icon {
            background: $theme;
        }
    }
}

.columns {
    width: 100%;
    display: flex;
    padding: 16px;
}

.draggable-column {
    border: 3px dashed #B6BEE3;
    position: relative;

    @include medium-device {
        flex: 0 0 auto;
        width: 100%;
    }
}

.remove-icon {
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 8px;
    @extend .div-flex-center-cover;
    background: #C9C7CE;
    @extend .position-right-top;
    right: -10px;
    top: -10px;
    z-index: 1;
    cursor: pointer;

    svg {
        font-size: 16px;
    }
}

.col {

    .remove-icon {
      background: #B6BEE3;
    }

}

.component {
    width: 100%;
    @extend .div-flex-center-cover;
    height: auto;
}

.widget-add-container {
    width: 100%;
    height: 174px;
    @extend .div-flex-center-cover
}

.customise-action {
    display: flex;
    margin: 0 -10px;
}

.selected .draggable-row {
    border-color: #18A4FF;
}

.selected .draggable-row > .remove-icon {
    background: #18A4FF;
}

.customiseNotAllowed {

    .draggable-row {
        border: 0;
        padding: 0;
        pointer-events: none;
        margin: 0 -16px;
    }

    .dropZone {
        display: none;
    }

    .draggable-column {
        border: 0;
        pointer-events: none;
        padding-right: 8px;
        padding-left: 8px;

        @include xlarge-device {
            flex: 0 0 auto;
            width: 50%;
        }

        @include medium-device {
            flex: 0 0 auto;
            width: 100%;
        }
    }

    .container-fluid {
        padding-left: 8px;
        padding-right: 8px;
    }

    .remove-icon {
        display: none;
    }

    .component {
        margin-bottom: 16px;
    }
}