.drawer {
    width: 500px;
    height: 100%;
    background: $white;
    position: fixed;
    right: -100%;
    top: 0;
    transition: $transition;
    box-shadow: 0px 4px 18px 0px rgba(75, 70, 92, 0.10);
    z-index: 10;

    @include medium-device {
        width: 100%;
    }
}

.drawer.active {
    right: 0;
}

.drawer-header {
    width: 100%;
    height: 56px;
    @extend .div-flex-between;
    padding: 0 16px;
    border-bottom: $border;

    h5 {
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
        @extend .div-flex-center;
        
        svg {
            margin-right: 8px;
        }
    }
}

.drawer-body {
    @extend .div-float-cover;
    height: calc(100% - 56px);
    padding: 20px;
    overflow-y: auto;
}

.each-widget {
    @extend .div-float-cover;
    padding: 16px;
    border: $border;
    margin-bottom: 8px;
    border-radius: 6px;
    background: #FAFAFA;
}