.table {
    @extend .div-float-cover;

    thead {

        tr {

            th {
                padding: 4px 16px;
                font-size: $font-11;
                font-weight: $font-400;
                line-height: 14px;
                color: #8D979B;
                background: rgba($color: #8D979B, $alpha: 0.10) !important;
                text-align: left;

                @include small-device {
                    white-space: nowrap;
                }
            }
        }
    }
    tbody {

        tr {

            td {
                padding: 8px 16px;
                font-family: Public Sans;
                font-size: $font-13;
                font-weight: $font-600;
                line-height: 14px; /* 107.692% */
                color: $textColor;
                text-align: left;

                @include small-device {
                    white-space: nowrap;
                }
            }

            
        }

        tr:nth-child(even) {

            td {
                background: #F6F6F7;
            }
        }
    }
}

.scrollable {

    @include small-device {

        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}