//Font initilization

$font-family: 'Public Sans';
$font-path: '../../../fonts' !default;
$font-200: 200;
$font-300: 300;
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-800: 800;
$font-900: 900;
$font-18: 18px;
$font-16: 16px;
$font-15: 15px;
$font-14: 14px;
$font-13: 13px;
$font-12: 12px;
$font-11: 11px;
$font-10: 10px;

//Colors

$theme: #18A4FF;
$black: #000000;
$white: #FFFFFF;
$bgColor: #F1F3F9;
$textColor: #4B465C;
$greyText: rgba($color: $textColor, $alpha: 0.60);
$borderColor: #DBDADE;


//Component rule

$circle-radius: 50%;
$border: 1px solid $borderColor;
$transition: .3s ease-out;
$uppercase: uppercase; 
