.side-bar {
    width: 200px;
    background-color: #2C3B49;
    flex-shrink: 0;
    transition: $transition;

    @include medium-device {
        // position: absolute;
        // left: 0;
        // top: 0;
        display: none;
    }
}

.sidebar-active {

    .side-bar {
        display: block;
    }
}

.side-bar-button {
    width: 100%;
    height: 60px;
    @extend .div-flex-center;
    padding-left: 18px;

    &:hover {
        background-color: #25323f;
    }
}

.side-bar-button.active {
    background-color: $theme;
}

.section-icon {

    margin-right: 10px;

    .anticon {
        color: $white;
        font-size: 20px;    
    }
}

.section-text {
    font-family: $font-family;
    font-size: $font-14;
    font-weight: $font-200;
    color: $white;
    line-height: 25px;
    flex-shrink: 0;
}

.skew {
    width: 60px;

    .section-icon {
        margin-right: 0;
    }

    .section-text {
        font-size: 0;
    }
}