.pinned-card-wrapper {
    width: 100%;
    padding: 20px 20px 0;
}

.filter-header-left {

    .ant-breadcrumb  {

        ol {
            li {
                font-size: 13px;
                font-weight: $font-400;
                line-height: 21px;
                color: $textColor;
                
                

                &:last-child {

                    .ant-breadcrumb-link {
                        background: var(--light-gradient-colors-menu-active, linear-gradient(72deg, #18A4FF 22.16%, #05C37F 76.47%));
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            .ant-breadcrumb-separator {   
                margin: 0 3px !important;
            }
        }
    }

    h1 {
        font-size: 22px;
        font-weight: $font-600;
        line-height: 30px;
    }
}

.filter-header-right {

    .ant-btn {
        width: auto;
        height: 44px;
        font-size: 13px;
        font-weight: $font-500;
        line-height: 16px;
        letter-spacing: 0.43px;
        padding: 0 16px;
        background-color: rgba(47, 51, 73, 1);
        border-radius: 4px;
        @extend .div-flex-center;
        box-shadow: 0px 5px 20px 0px rgba(75, 70, 92, 0.40);

        span {
            margin-left: 6px;
        }

        &:hover {
            background-color: $theme !important;
        }
    }
}

.pinned-main-card {
    width: 100%;
    margin-top: 16px;

    .ant-card {
        border: 0;
        box-shadow: 0px 4px 18px 0px rgba(75, 70, 92, 0.10);
    }

    .ant-card-body {
        padding: 0;
    }
}

.card-action-area {
    border-bottom: $border;
}

.action-link {
    @extend .div-float;
    padding: 15px;
    @extend .div-flex-center
}

.action-link {
    
    svg {
        margin-right: 8px;
    }

    span {
        font-size: $font-15;
        font-weight: $font-600;
        color: $textColor;
        line-height: 22px;
    }

    &:hover {

        span {
            color: $theme;
        }
    }

}

.action-link.stand-alone {

    svg {
        margin: 0;
    }
}

.nav-tab-wrapper {

    .ant-tabs .ant-tabs-tab {
        padding: 0 20px;
        line-height: 38px;
        margin: 0;
    }

    .ant-tabs {

        .ant-tabs-tab {

            color: $textColor !important;

            &:hover {
                color: $textColor;
            }
        }

        .ant-tabs-tab.ant-tabs-tab-active {
            
            .ant-tabs-tab-btn {
                background: var(--light-gradient-colors-menu-active, linear-gradient(72deg, #18A4FF 22.16%, #05C37F 76.47%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: transparent;

                
            }

        }

        .ant-tabs-ink-bar {
            background: linear-gradient(72deg, #18A4FF 22.16%, #05C37F 76.47%);
        }

        .ant-tabs-nav {
            margin-bottom: 0;
        }

        .ant-tabs-tabpane {
            padding: 16px;
        }
    }
     
}

.dashbaord-data-wrapper {

    .ant-avatar {
        width: 100px;
        height: 100px;
        border: 1px solid var(--light-solid-color-primary-primary-500-base, #18A4FF);
        background: var(--light-opacity-color-primary-primary-8, rgba(24, 164, 255, 0.08));
        margin-right: 16px;

        .ant-avatar-string {
            font-size: 32px;
            font-weight: $font-500;
            line-height: 100px;
            color: $theme;
        }
    }
    
}