.pinned-card-wrapper {
    width: 100%;
    padding: 20px 20px 0;
}

.pinned-filter-header {

    @include small-device {
        flex-direction: column;
        align-items: flex-start;
    }
}

.filter-header-left {

    .ant-breadcrumb  {

        ol {
            li {
                font-size: 13px;
                font-weight: $font-400;
                line-height: 21px;
                color: $textColor;

                &:last-child {

                    .ant-breadcrumb-link {
                        background: var(--light-gradient-colors-menu-active, linear-gradient(72deg, #18A4FF 22.16%, #05C37F 76.47%));
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            .ant-breadcrumb-separator {   
                margin: 0 3px !important;
            }
        }
    }

    h1 {
        font-size: 22px;
        font-weight: $font-600;
        line-height: 30px;
    }
}

.filter-header-right {

    .ant-btn {
        width: auto;
        height: 44px;
        font-size: 13px;
        font-weight: $font-500;
        line-height: 16px;
        letter-spacing: 0.43px;
        padding: 0 16px;
        background-color: rgba(47, 51, 73, 1);
        border-radius: 4px;
        @extend .div-flex-center;
        box-shadow: 0px 5px 20px 0px rgba(75, 70, 92, 0.40);
        cursor: pointer;

        span {
            margin-left: 6px;

            @include medium-device {
                display: none;
            }
        }

        &:hover {
            background-color: $theme !important;
        }
    }

    @include small-device {
        width: 100%;  
        margin-top: 16px;
    }
}

.content {

    .ant-card {
        height: 100%;
        border: 0;
        box-shadow: 0px 4px 18px 0px rgba(75, 70, 92, 0.10);
    }

    .p-0 {
        
        .ant-card-body {
            padding: 0px;
        }

        .card-panel-header {
            padding: 16px 16px 0 16px;
        }

        .ring-chart-block {
            padding: 0 16px 0 16px;
        }

        .ring-chart-more-info {
            padding: 8px 16px 16px 16px;
        }
    }

    .ant-card-body {
        height: 100%;
        padding: 16px;
        overflow: hidden;
    }
}

.pinned-main-card {
    width: 100%;
    margin-top: 16px;

    .ant-card {
        border: 0;
        box-shadow: 0px 4px 18px 0px rgba(75, 70, 92, 0.10);
    }

    .ant-card-body {
        padding: 0;
    }
}

.card-action-area {
    border-bottom: $border;
}

.action-link {

    @extend .div-float;
    padding: 15px;
    @extend .div-flex-center;
    
    svg {
        margin-right: 8px;

        @include medium-device {
            margin-right: 0;
        }
    }

    span {
        font-size: $font-15;
        font-weight: $font-600;
        color: $textColor;
        line-height: 22px;

        @include medium-device {
            font-size: 0;
        }
    }

    &:hover {

        svg {

            * {
                stroke: $theme;
            }
        }

        span {
            color: $theme;
        }
    }

    .ant-dropdown-trigger {

        @include medium-device {
            width: 24px;
            height: 24px;
        }
    }

    @include medium-device {
        padding: 15px 10px;
    }

}

.action-link.stand-alone {

    svg {
        margin: 0;
    }
}

.dashboard-nav-tab {
    @extend .div-float-cover;
    border-bottom: $border;

    .nav-tab {
        display: inline-block;
        padding: 8px 20px;
        cursor: pointer;
        position: relative;
        transition: .3s ease-out;

        &:before {
            content: "";
            width: 0;
            height: 2px;
            background: linear-gradient(72deg, #18A4FF 22.16%, #05C37F 76.47%);
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            transition: .3s ease-out;
        }

        &:hover {
            color: $theme;
        }
    }

    .nav-tab.active {
        background: var(--light-gradient-colors-menu-active, linear-gradient(72deg, #18A4FF 22.16%, #05C37F 76.47%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:before {
            width: 100%;
        }
    }
}
     
.dashbaord-data-wrapper {

    @extend .div-float-cover;
    padding: 16px;

    .ant-avatar {
        width: 100px;
        height: 100px;
        border: 1px solid var(--light-solid-color-primary-primary-500-base, #18A4FF);
        background: var(--light-opacity-color-primary-primary-8, rgba(24, 164, 255, 0.08));
        margin-right: 16px;
        flex-shrink: 0;

        .ant-avatar-string {
            font-size: 32px;
            font-weight: $font-500;
            line-height: 100px;
            color: $theme;
        }

        @include medium-device {
            margin-bottom: 16px;
        }
    }

    @include medium-device {
        flex-direction: column;
    }
    
}

.dashboard-data-right-top {

    @extend .div-float-cover;
    border-bottom: $border;
    padding-bottom: 16px;
    margin-bottom: 16px;

    h5 {
        font-size: 26px;
        font-weight: $font-600;
        color: $textColor;
        line-height: 36px;
        margin-bottom: 4px;
    }
}

.short-description-wrapper {

    max-width: 70%;

    li {
        @extend .div-float;
        margin-right: 32px
    }
}

.short-description {

    @extend .div-flex-center;

    label {
        font-size: $font-13;
        font-weight: $font-400;
        line-height: 22px;
        color: $greyText;
    }

    P {
        font-size: $font-15;
        font-weight: $font-700;
        line-height: 22px;
        color: $textColor;
        margin-left: 8px;

        @include medium-device {
            margin-left: 0;
        }
    }

    @include medium-device {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 5px;
    }
}

.non-sticky-wrapper {
    @extend .div-float-cover;
    padding: 0 20px 20px 20px;
}

.tag-group {
    margin-left: 8px;

    .ant-tag  {
        border-radius: 15px;
        padding: 0 12px;
        line-height: 20px;
    }

    @include medium-device {
        margin-left: 0;
    }
}

.dashboard-data-right-bottom {

    .short-description-wrapper {
        max-width: 100%;
    }
}

.olive-green {
    background-color: rgba($color: #28C76F, $alpha: 0.15) !important;
    color: #28C76F;
}

.olive-green-text {
    color: #28C76F !important;
}

.sea-blue {
    background-color: rgba($color: #00CFE8, $alpha: 0.15) !important;
    color: #00CFE8;
}

.sandal {
    background-color: rgba($color: #FF9F43, $alpha: 0.15) !important;
    color: #FF9F43;
}

.blue-berry {
    background-color: rgba($color: #634CE3, $alpha: 0.15) !important;
    color: #634CE3;
}

.sky-blue {
    background-color: rgba($color: #18A4FF, $alpha: 0.15) !important;
    color: #18A4FF;
}

.red-shade {
    background-color: rgba($color: #EA5455, $alpha: 0.08) !important;
    color: #EA5455;
}

.red-shade-text {
    color: #EA5455 !important;
}

.card-panel-header {
    margin-bottom: 16px;
}

.card-panel-header-left {

    h5 {
        font-size: $font-18;
        font-weight: $font-600;
        line-height: 24px;
        color: $textColor;

        .ant-tag {
            margin-left: 16px;

            @include small-device {
                margin-left: 0;
            }
        }
    }

    @include small-device {
        display: flex;
        flex-direction: column;
    }
}

.card-panel-header-right {

    @extend .div-flex-center-cover;

    .action-link {
        padding: 0;
        margin-left: 16px;
    }

    .select-box {
        @extend .div-float;
        margin-left: 16px;

        .ant-select-selector {
            height: 38px;
            padding: 0 16px;
        }

        .ant-select-selection-item {
            font-size: $font-13;
            font-weight: $font-400;
            line-height: 36px;
            color: $greyText;
        }
    }
}

.chart-mob {

    align-items: flex-start;

    .card-panel-header-right {
       
        @include small-device {
            flex-direction: column;
            align-items: flex-end;

            .select-box {
                margin-bottom: 5px;
            }
        }
    }
}

.card-panel-body {

    .ant-card {
        border: $border;
        box-shadow: none;
    }
    
    .ant-card-body {
        padding: 16px !important;
    }
}

.short-card {

    @extend .div-float-cover;
    @extend .div-flex;

    figure {
        width: 42px;
        height: 42px;
        background: rgba($color: #4B465C, $alpha: 0.08);
        border-radius: 6px;
        margin-right: 16px;
        flex-shrink: 0;
        @extend .div-flex-center-cover;
    }

    .round {
        border-radius: 50%;
    }

    .ant-progress {
        width: 137px;
    }

    .action-link {
        padding: 0;
    }
    
}

.horizontal-card {

    flex-direction: column;
    position: relative;
    z-index: 2;

    .figure-box {

        @include small-device {
            justify-content: center;
        }
        
    }

    .short-card-details {
        
        h5 {
            padding-right: 0;
        }
    }
}

.short-card-details {

    @extend .div-float-cover;

    h5 {
        font-size: $font-18;
        font-weight: $font-600;
        line-height: 24px;
        color: $textColor;
        margin-bottom: 4px;
        padding-right: 25px;
    }

    p {
        font-size: $font-13;
        font-weight: $font-400;
        line-height: 20px;
        color: rgba($color: #4B465C, $alpha: 0.60);
        margin-bottom: 4px;

        span {
            color: $textColor;
            margin-left: 8px;
        }
    }
    
}

.short-card-status { 

    @extend .div-float-cover;
    @extend .div-flex-between;

    li {

        // @extend .div-float-cover;
        padding-right: 16px;

        label {
            @extend .div-float-cover;
            font-size: $font-11;
            font-weight: $font-400;
            line-height: 14px;
            color: rgba($color: #4B465C, $alpha: 0.60);
            margin-bottom: 4px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        p {
            @extend .div-float-cover;
            font-size: $font-11;
            font-weight: $font-400;
            line-height: 14px;
            color: $textColor;
            margin-bottom: 4px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
} 

.more-option-drop {
        position: absolute;
        top: 20px;
        right: 10px;
}

.action-button {

    span {
        margin-right: 0;
    }
}

.progress-block {
    width: 137px;
    @extend .div-flex-column;

    label {
        font-size: $font-11;
        font-weight: $font-600;
        line-height: 14px;
    }

    p {
        font-size: $font-11;
        font-weight: $font-400;
        line-height: 14px;
    }

    .ant-progress {
        margin: 0;
    }

    .ant-progress-outer {
        @extend .div-flex;
        height: 7px !important;
        padding-inline: 0 !important;
        top: 2px;
        position: relative;
    }

    .ant-progress-bg {
        height: 5px !important;
    }

    .ant-progress-inner {
        height: 5px !important;
    }

    .ant-progress-text {
        position: absolute;
        right: 0;
        top: -11px;
        color: $greyText;
        font-size: 8px;
        font-weight: $font-400;
        line-height: 10px;
    }
}

.high {

    label {
        color: #18A4FF;
    }

    .ant-progress-bg {
        background-color: #18A4FF;
    }
}

.medium {

    label {
        color: #FF9F43;
    }

    .ant-progress-bg {
        background-color: #FF9F43;
    }
}

.chart-wrapper {
    @extend .div-float-cover;
}

.chart-denotation {

    @extend .div-flex-between;
    margin-bottom: 38px;

    li {

        padding-left: 19px;
        position: relative;

        &:before {
            content: "";
            width: 3px;
            height: 100%;
            background: $greyText;
            @extend .position-left-top;
        }

        p {
            font-size: $font-18;
            font-weight: $font-600;
            line-height: 24px;
        }

        label {
            font-size: $font-13;
            font-weight: $font-400;
            line-height: 20px;
            color: $greyText;
        }
    }

    .total {

        &::before {
            background: #8692D0;
        }
    }

    .success {

        &::before {
            background: #28C76F;
        }
    }

    .pending {

        &::before {
            background: #FF9F43;
        }
    }

    .failed {

        &::before {
            background: #EA5455;
        }
    }
}

.button-list {

    li {
        @extend .div-float;
        margin-left: 16px;
        
        &:hover {

            svg {
                * {
                    stroke: $theme;
                }
            }
        }
    }
}

.card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0px;
    overflow: hidden;
    z-index: 1;

    svg {
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }
}

.short-card-bottom {

    @extend .div-float-cover;
    margin-top: 4px;

    p {
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        color: $textColor;
        margin-bottom: 0;
    }

    .ant-tag {
        padding: 4px 16px;
        font-size: 13px;
        font-style: normal;
        font-weight: $font-600;
    }
}

.graph-note {

    li {
        @extend .div-flex;
        margin-bottom: 16px;

        figure {
            width: 44px;
            height: 44px;
            border-radius: 6px;
            margin-right: 8px;
            @extend .div-flex-center-cover;
        }

        .graph-note-details {

            p {
                display: block;
                font-size: $font-15;
                font-weight: $font-600;
                line-height: 22px;
                color: $textColor;
            }

            label {
                display: block;
                font-size: $font-13;
                font-weight: $font-400;
                line-height: 20px;
                color: $greyText;
            }
        
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.bordered {

    li {
        margin-top: 16px;
        padding-top: 16px;
        border-top: $border;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.ring-chart-block {
    @extend .div-float-cover;
    @extend .div-flex;

    .short-card {
        margin-left: 16px;

        figure {
            height: auto;
            width: auto;
            padding: 8px;
            border-radius: 30px;
            font-size: $font-13;
            font-weight: $font-400;
            line-height: 20px;
            color: $textColor;

            svg {
                margin-right: 3px;
            }
            
        }
    }

    .horizontal-card {
        justify-content: center;

        @include small-device {
            margin-left: 0;
            margin-top: 10px;
        }
    }

    .short-card-status {

        li {

            p {
                font-size: $font-13;
                font-weight: $font-700;
                line-height: 20px;
                margin-bottom: 2px;

                @include small-device {
                    text-align: center;
                }
            }

            label {
                font-size: $font-11;
                font-weight: $font-400;
                line-height: 14px;
                color: $textColor;

                @include small-device {
                    text-align: center;
                }
            }

            @include small-device {
                padding: 0 10px;
            }
        }
    }

    @include small-device {
        flex-direction: column;
        align-items: center;
        padding: 16px !important;
        margin-bottom: 8px;
        border-bottom: $border;
    }
}

.ring-chart-more-info {

    @extend .div-float-cover;
    padding-top: 8px;
    margin-top: 8px;
    border-top: $border;

    .short-card-status {
        

        li {

            p {
                font-size: $font-13;
                font-weight: $font-700;
                line-height: 20px;
                margin-bottom: 2px;

                @include small-device {
                    text-align: center;
                }
            }

            label {
                font-size: $font-11;
                font-weight: $font-400;
                line-height: 14px;
                color: $textColor;

                @include small-device {
                    text-align: center;
                }
            }

            @include small-device {
                width: 100%;
                margin-bottom: 16px;
            }

            
        }

        @include small-device {
            flex-direction: column;
        }
    }

    @include small-device {
        border-top: 0;
        margin-top: 0;
    }
}

.network-block  {

    .chart-denotation {
        margin-left: 16px;
        margin-bottom: 0;
    }

    @include small-device {
        justify-content: center;
    }
}

.signal-chart-block {

    label {
        @extend .div-float-cover;
        font-size: $font-13;
        font-weight: $font-600;
        line-height: 14px;
        color: $greyText;
        margin-bottom: 4.76px;

        span {
            color: $textColor;
        }

        @include small-device {
            text-align: center;
        }
    }

    @include small-device {
        display: flex;
        flex-direction:  column;

        justify-content: center;
    }
}

.signal-chart {
    @extend .div-float-cover;
    @extend .div-flex;
    align-items: flex-end;
    gap: 19.048px;
    align-self: stretch;
    height: 72.6px;
    margin-bottom: 17px;

    li { 
        float: left;
        width: 11.9px;
        height: 100%;
        border-radius: 16.7px;
        background: #fafafa;
        position: relative;

        span {
            font-size: 9.524px;
            font-weight: $font-400;
            line-height: 11.905px; 
            color: $greyText;
            @extend .position-left-bottom;
            bottom: -16.24px;
        }

        &:nth-child(1) {
            height: 33.33px;
        }
    
        &:nth-child(2) {
            height: 44.04px;
        }
    
        &:nth-child(3) {
            height: 53.57px;
        }
    
        &:nth-child(4) {
            height: 63.09px;
        }
        
    }

    .active {
        background: #28C76F;
    }

    @include small-device {
        justify-content: center;
    }
}

.social-media-block {

    p {
        font-size: $font-11;
        font-weight: $font-400;
        line-height: 14px;   
        color: $textColor;    
        margin-bottom: 8px;       
    }
}

.social-block {

    li {
        @extend .div-float;
        @extend .div-flex-center-cover;
        width: 32px;
        height: 32px;
        background: rgba($color: #18A4FF, $alpha: 0.08);
        border-radius: 6px;
        margin-right: 16px;
    }

    .ant-tag {
        font-size: $font-13;
        font-weight: $font-700;
        line-height: 20px;
        padding: 5px 8px;
    }
}

.ant-drawer-header-title {

    .ant-drawer-close {
        order: 1;
        margin: 0;
    }

    .ant-drawer-title {
        order: 0;
    }

}