.pinned-card-wrapper {
    width: 100%;
    padding: 20px 20px 0;
}

.filter-header-left {

    .ant-breadcrumb  {

        ol {
            li {
                font-size: 13px;
                font-weight: $font-400;
                line-height: 21px;
                color: $textColor;

                &:last-child {

                    .ant-breadcrumb-link {
                        background: var(--light-gradient-colors-menu-active, linear-gradient(72deg, #18A4FF 22.16%, #05C37F 76.47%));
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            .ant-breadcrumb-separator {   
                margin: 0 3px !important;
            }
        }
    }

    h1 {
        font-size: 22px;
        font-weight: $font-600;
        line-height: 30px;
    }
}

.filter-header-right {

    .ant-btn {
        width: auto;
        height: 44px;
        font-size: 13px;
        font-weight: $font-500;
        line-height: 16px;
        letter-spacing: 0.43px;
        padding: 0 16px;
        background-color: rgba(47, 51, 73, 1);
        border-radius: 4px;
        @extend .div-flex-center;
        box-shadow: 0px 5px 20px 0px rgba(75, 70, 92, 0.40);
        cursor: pointer;

        span {
            margin-left: 6px;
        }

        &:hover {
            background-color: $theme !important;
        }
    }
}

.content {

    .ant-card {
        border: 0;
        box-shadow: 0px 4px 18px 0px rgba(75, 70, 92, 0.10);
    }

    .ant-card-body {
        padding: 16px;
        overflow: hidden;
    }
}

.pinned-main-card {
    width: 100%;
    margin-top: 16px;

    .ant-card {
        border: 0;
        box-shadow: 0px 4px 18px 0px rgba(75, 70, 92, 0.10);
    }

    .ant-card-body {
        padding: 0;
    }
}

.card-action-area {
    border-bottom: $border;
}

.action-link {

    @extend .div-float;
    padding: 15px;
    @extend .div-flex-center;
    
    svg {
        margin-right: 8px;
    }

    span {
        font-size: $font-15;
        font-weight: $font-600;
        color: $textColor;
        line-height: 22px;
    }

    &:hover {

        svg {

            * {
                stroke: $theme;
            }
        }

        span {
            color: $theme;
        }
    }

}

.action-link.stand-alone {

    svg {
        margin: 0;
    }
}

.dashboard-nav-tab {
    @extend .div-float-cover;
    border-bottom: $border;

    .nav-tab {
        display: inline-block;
        padding: 8px 20px;
        cursor: pointer;
        position: relative;
        transition: .3s ease-out;

        &:before {
            content: "";
            width: 0;
            height: 2px;
            background: linear-gradient(72deg, #18A4FF 22.16%, #05C37F 76.47%);
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            transition: .3s ease-out;
        }

        &:hover {
            color: $theme;
        }
    }

    .nav-tab.active {
        background: var(--light-gradient-colors-menu-active, linear-gradient(72deg, #18A4FF 22.16%, #05C37F 76.47%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:before {
            width: 100%;
        }
    }
}
     
.dashbaord-data-wrapper {

    @extend .div-float-cover;
    padding: 16px;

    .ant-avatar {
        width: 100px;
        height: 100px;
        border: 1px solid var(--light-solid-color-primary-primary-500-base, #18A4FF);
        background: var(--light-opacity-color-primary-primary-8, rgba(24, 164, 255, 0.08));
        margin-right: 16px;
        flex-shrink: 0;

        .ant-avatar-string {
            font-size: 32px;
            font-weight: $font-500;
            line-height: 100px;
            color: $theme;
        }
    }
    
}

.dashboard-data-right-top {

    @extend .div-float-cover;
    border-bottom: $border;
    padding-bottom: 16px;
    margin-bottom: 16px;

    h5 {
        font-size: 26px;
        font-weight: $font-600;
        color: $textColor;
        line-height: 36px;
        margin-bottom: 4px;
    }
}

.short-description-wrapper {

    max-width: 70%;

    li {
        @extend .div-float;
        margin-right: 32px
    }
}

.short-description {

    @extend .div-flex-center;

    label {
        font-size: $font-13;
        font-weight: $font-400;
        line-height: 22px;
        color: $greyText;
    }

    P {
        font-size: $font-15;
        font-weight: $font-700;
        line-height: 22px;
        color: $textColor;
        margin-left: 8px;
    }
}

.non-sticky-wrapper {
    @extend .div-float-cover;
    padding: 0 20px 20px 20px;
}

.tag-group {
    margin-left: 8px;

    .ant-tag  {
        border-radius: 15px;
        padding: 0 12px;
        line-height: 20px;
    }
}

.dashboard-data-right-bottom {

    .short-description-wrapper {
        max-width: 100%;
    }
}

.olive-green {
    background-color: rgba($color: #28C76F, $alpha: 0.15) !important;
    color: #28C76F;
}

.olive-green-text {
    color: #28C76F !important;
}

.sea-blue {
    background-color: rgba($color: #00CFE8, $alpha: 0.15) !important;
    color: #00CFE8;
}

.sandal {
    background-color: rgba($color: #FF9F43, $alpha: 0.15) !important;
    color: #FF9F43;
}

.blue-berry {
    background-color: rgba($color: #634CE3, $alpha: 0.15) !important;
    color: #634CE3;
}

.sky-blue {
    background-color: rgba($color: #18A4FF, $alpha: 0.15) !important;
    color: #18A4FF;
}

.red-shade {
    background-color: rgba($color: #EA5455, $alpha: 0.08) !important;
    color: #EA5455;
}

.card-panel-header {
    margin-bottom: 16px;
}

.card-panel-header-left {

    h5 {
        font-size: $font-18;
        font-weight: $font-600;
        line-height: 24px;
        color: $textColor;

        .ant-tag {
            margin-left: 16px;
        }
    }
}

.card-panel-header-right {

    .action-link {
        padding: 0;
        margin-left: 16px;
    }
}

.card-panel-body {

    .ant-card {
        border: $border;
        box-shadow: none;
    }
    
    .ant-card-body {
        padding: 16px !important;
    }
}

.short-card {

    @extend .div-float-cover;
    @extend .div-flex;

    figure {
        width: 42px;
        height: 42px;
        background: rgba($color: #4B465C, $alpha: 0.08);
        border-radius: 6px;
        margin-right: 16px;
        flex-shrink: 0;
        @extend .div-flex-center-cover;
    }

    .round {
        border-radius: 50%;
    }
}

.horizontal-card {

    flex-direction: column;
    position: relative;
    z-index: 2;
}

.short-card-details {

    @extend .div-float-cover;

    h5 {
        font-size: $font-18;
        font-weight: $font-600;
        line-height: 24px;
        margin-bottom: 4px;
        padding-right: 25px;
    }

    p {
        font-size: $font-13;
        font-weight: $font-400;
        line-height: 20px;
        color: rgba($color: #4B465C, $alpha: 0.60);
        margin-bottom: 4px;
        padding-right: 25px;

        span {
            color: $textColor;
        }
    }
    
}

.short-card-status { 

    @extend .div-float-cover;
    @extend .div-flex-between;

    li {

        @extend .div-float-cover;

        label {
            @extend .div-float-cover;
            font-size: $font-11;
            font-weight: $font-400;
            line-height: 14px;
            color: rgba($color: #4B465C, $alpha: 0.60);
            margin-bottom: 4px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        p {
            @extend .div-float-cover;
            font-size: $font-11;
            font-weight: $font-400;
            line-height: 14px;
            color: $textColor;
            margin-bottom: 4px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
} 

.more-option-drop {
        position: absolute;
        top: 20px;
        right: 10px;
}

.action-button {

    span {
        margin-right: 0;
    }
}

.chart-wrapper {
    @extend .div-float-cover;
}

.button-list {

    li {
        @extend .div-float;
        margin-left: 16px;
        
        &:hover {

            svg {
                * {
                    stroke: $theme;
                }
            }
        }
    }
}

.card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0px;
    overflow: hidden;
    z-index: 1;

    svg {
        width: 100%;
        border-radius: 6px;
    }
}