// Global 

* {
    box-sizing: border-box !important;
    font-family: $font-family !important;
}

body {
    font-size: $font-16;
    font-weight: $font-400;
    color: $textColor !important;
    background: $bgColor;
    padding: 0px !important;
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.wrapper {
    @extend .full-cover;
    @extend .position-fixed;
}

.content-area {
    @extend .full-cover;
    @extend .div-flex;
    align-items: stretch;
    overflow: hidden;
}

.right-content-area {
    @extend .full-cover;
    @extend .div-flex-column;
    align-items: stretch
}

.content {
    @extend .full-cover;
    overflow-y: auto;
}

.dndButtons {
    position: absolute;
    right: 0;
    top: 80px;
    padding: 10px;
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.customise-action {
    display: flex;
    margin: 0 -10px;
}

.customise-action button {
    margin: 0 10px;
}

.customise-action {
    display: flex;
    margin: 0 -10px;
}

.customise-action button {
    margin: 0 10px;
}

.customiseNotAllowed {
    .draggable-row {
        border: 0;
        padding: 16px 0;
        pointer-events: none;
        margin: 0 -16px;
    }

    .dropZone {
        display: none;
    }

    .draggable-column {
        border: 0;
    }

    .remove-icon {
        display: none;
    }
}